body		{ font-family: 'NanumSquare', sans-serif }
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }

#content{vertical-align: middle;}
.carousel {
  max-width: 100%;
  width: 720px;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}
.ad-banner {
  width: 560px;
  height: auto;
  max-width: 100%;
}
.padding {
  padding: 100px;
}
.padding-small {
  padding-top: 13px;
}
.bg-gradient {
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg1 {
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
    height: 100%;
    margin: 0;
    position: relative;

}
.bg-white {
  background-color: #fff;
}
.logo{
  margin-left: 7px;
  margin-right: 7px;
}
.nav-item{
  padding-left: 3px;
  padding-right: 3px;
}
 .contact_form input[type=text],
 .contact_form select,
 .contact_form textarea,
 .contact_form input[type=email],
 .contact_form input[type=tel] {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }

 .contact_form>h3 {
   text-align: center;
 }

 .contact_form textarea {
   height: 200px;
   resize: none;
 }

 .contact_form input[type=submit] {
   background-color: #737373;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: 0.3s;
 }

 .contact_form input[type=submit]:hover {
   background-color: #aaa;
 }

 .contact_form {
   width: 90%;
   margin: 0 auto;
   margin-top: 50px;
   border-radius: 5px;
   padding: 20px;
 }

 .contact_form>h3 {
   font-size: 30px;
   padding-bottom: 50px;
 }

.center {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}
		section{
			display: inline-block;
		}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');/* regular-400, medium-500, semibold-600, bold-700 */ 

body,html {height:100%;margin:0;padding:0}
ul, li, dl, dt, dd, p, span{margin:0;padding:0}
a{text-decoration:none}
li{list-style:none}
a{text-decoration:none}
*, :after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.typing-container {
  font-size: 35px;
  font-weight:700;
  font-family:'Pretendard';
  margin-top: 50px;
  margin-bottom: 30px;
  width:450px;
  word-break:keep-all
}

#cursor {
  border-left: 2px solid #000;
  animation: blink 0.7s infinite;
  display: inline-block;
  margin-left: 2px;
  height: 35px;
  vertical-align: middle;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
